<table>
    <tr>
        <td *ngFor="let key of keys">{{key}}</td>
    </tr>
    <tr *ngFor="let row of rows">
        <td *ngFor="let item of getItems(row)">{{item}}</td>
    </tr>
</table>
<form [formGroup]="form">
    <div>
        <input [formControl]="fromRowControl" />
        -
        <input [formControl]="toRowControl" />
    </div>
    <div>
        <input [formControl]="fromColumnControl" />
        -
        <input [formControl]="toColumnControl" />
    </div>
</form>
<div class="footer">
    <button mat-raised-button
            color="primary"
            (click)="import()">Import</button>
    <button mat-raised-button
            (click)="cancel()">Cancel</button>
</div>