:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.table-container {
    height: 100%;
    overflow: auto;
}

.footer {
    display: flex;
    flex-direction: row-reverse;

    margin-top: 1em;

    button {
        margin-left: 0.5em;
    }
}