<div class="table-container">
    <table mat-table [dataSource]=rows>
        <ng-container *ngFor="let key of keys"
                        [matColumnDef]="key">
            <th mat-header-cell *matHeaderCellDef> {{key}} </th>
            <td mat-cell *matCellDef="let element"> {{element[key]}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="keys; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: keys;"></tr>
    </table>
</div>
<form [formGroup]="form">
    <div>
        <input [formControl]="fromRowControl" />
        -
        <input [formControl]="toRowControl" />
    </div>
    <div>
        <input [formControl]="fromColumnControl" />
        -
        <input [formControl]="toColumnControl" />
    </div>
</form>
<div class="footer">
    <button mat-raised-button
            color="primary"
            (click)="import()">Import</button>
    <button mat-raised-button
            (click)="cancel()">Cancel</button>
</div>