:host {
    display: flex;
    flex-direction: column;

    flex: 1 1 auto;
}

.graph {
    flex: 1 1 auto;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 15px;
}

mat-slider {
    flex: 1 1 auto;
}

.icon {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;

    &--play {
        background-image: url(../assets/icons/play_circle-24px.svg);
    }
    &--pause {
        background-image: url(../assets/icons/pause_circle-24px.svg);
    }
    &--edit {
        background-image: url(../assets//icons/edit-24px.svg);
    }

    &--small {
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
    }
}