<div class="graph" #graph>
    <button mat-icon-button
            (click)="edit()"
            class="icon icon--edit icon--small"></button>
</div>
<div class="slider">
    <mat-slider [formControl]="sliderControl"
                [min]="sliderMin"
                [max]="sliderMax"
                thumbLabel></mat-slider>
    <button mat-icon-button
            (click)="toggleRangeCycle()"
            [disabled]="dataFrame.isEmpty"
            class="icon"
            [ngClass]="{'icon--play': !isPlaying, 'icon--pause': isPlaying}"></button>
</div>