.import-file{
    &__input{
        display:none;
    }
    &__label-container{
        height: 80%;
        margin: 1em;
    }
    &__label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    &__icon{
        height: 5em;
    }
}
