button {
    height: 100%;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

img, label {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
